html,body {
  width: 100%;
}

.app-login-top {
  width: 975px;
  height: 68px;
  line-height: 68px;
  margin: auto;
}

.app-login-top span[name=left] {
  float: left;
  color: #254587;
  font-family: 黑体;
}

.app-login-top span[name=right] {
  float: right;
  color: #666;
  font-family: 黑体;
  font-size: 14px;
}

.app-login-center {
  width: 100%;
  height: 440px;
  background: url("../images/dl_banner.png") center no-repeat;
}

.app-login-center-wrapper {
  margin: auto;
  width: 975px;
  height: 440px;
  position: relative;
  background: inherit;
}

.app-left-logo {
  position: absolute;
  top: 40px;
  left: 13px;
}

.app-login-area {
  width: 286px;
  height: 255px;
  background: url("../images/jd_ca.png") center no-repeat;
  position: absolute;
  right: 45px;
  top: 73px;
  text-align: center;
}

.app-login-area p {
  color: #682587;
  font-family: 'microsoft yahei', Helvetica, Arial, sans-serif;
  line-height: 70px;
  font-size: 15px;
}

.app-login-inner {
  width: 219px;
  height: auto;
  margin-left: 46px;
}

.app-login-btn {
  width: 73px;
  height: 29px;
  background: url("../images/dl.png");
  line-height: 29px;
  font-size: 15px;
  color: #fff;
  margin: auto;
  cursor: pointer;
}

.app-top {
  width: 100%;
  height: 84px;
  margin: auto;
  background: url("../images/jd_top.png") center no-repeat;
  background-size: cover;
}

.app-top-middle {
  width: 100%;
  height: 84px;
}

.app-login-info {
  padding-top: 14px;
  color: #5f9bea;
  font-size: 13px;
  font-family: 'microsoft yahei';
  text-align: right;
}

.app-login-info span {
  color: #1454a8;
}

.app-login-icon {
  vertical-align: top;
}

.app-container {
  width: 100%;
  height: 100%;
}

/*覆盖bootstrap*/
.app-border-none {
  border-radius: 0px !important;
  border: none !important;
  border-top: 1px solid #d8d8d8;
}

.panel-group {
  margin-bottom: 0 !important;
}

.app-weixin {
  position: fixed;
  top: 300px;
  right: 100px;
}

.app-step-indicate {
  float: left;
  width: 148px;
  height: 32px;
  background: url("../images/bz02.png") no-repeat;
  font-size: 12px;
  line-height: 32px;
  text-align: center;
  color: #000;
}

.app-step-active {
  background: url("../images/bz01.png") no-repeat !important;
  color: #fff !important;
}

.app-query-bg {
  background-color: #2c9ecd !important;
}

.app-f9f9f9 {
  background-color: #f9f9f9 !important;
  font-family: "microsoft yahei";
}

.app-menu-font {
  font-family: 'microsoft yahei' !important;
  font-size: 14px !important;
}

.app-menu-font a {
  font-family: 'microsoft yahei' !important;
  font-size: 14px !important;
  text-decoration: none;
}

.app-menu-font a:hover {
  text-decoration: none;
}

.app-menu-active {
  background: url("../images/left_line001.png") !important;
  color: #1585c8 !important;
}

.app-tab-li {
  border-left: 1px solid #d8d8d8;
  border-radius: 3px;
}

.app-tab-li li {
  width: 112px;
  text-align: center;
  font-size: 12px;
  font-family: 'microsoft yahei';
}

.app-tab-li li a {
  color: #000 !important;
  border-top: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
}

.app-highlight-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  height: 3px;
  background-color: #5f9bea;
  z-index: 1;
  border-radius: 34%;
  display: none;
}

.active > .app-highlight-border {
  display: block;
}

.nav-tabs>li>a {
  margin-right: 0px !important;
}

.app-tap-content {
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
/*  min-height: 496px;*/
  padding: 0 18px 30px !important;
  margin-top: -1px;
}

.nav-tabs>li.active>a {
  border-left: none !important;
}

.app-step-wrapper {
  padding-top: 22px;
  font-family: 'microsoft yahei' !important;
}

.app-pure-text {
  margin: 27px 0;
}

.app-pure-text p {
  font-family: 'microsoft yahei';
  font-size: 14px;
  color: #080808;
}

.app-table {
  font-family: 'microsoft yahei';
}

.app-table th {
  background-color: #f5f5f5;
  color: #8390a1;
  text-align: center;
}

.app-table td {
  text-align: center;
  font-size: 12px;
  color: #000000;
}

.app-btn-common {
  width: 150px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
}

.app-blue-btn {
  background-color: #5f9bea;
  color: #ffffff;
}

.app-gray-btn {
  background-color: #b5c2db;
  color: #ffffff;
}

.app-list-group {
  border: 1px dashed #ddd;
  background: url("../images/left_line01.png") no-repeat;
  padding: 7px 0px 7px 48px !important;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.app-menu-icon {
  height: 18px;
  width: 18px;
  float: left;
}

.app-menu-icon-1 {
  background: url("../images/icons/left_icon01.png") no-repeat;
}

.app-menu-icon-2 {
  background: url("../images/icons/left_icon02.png") no-repeat;
}

.app-menu-icon-3 {
  background: url("../images/icons/left_icon03.png") no-repeat;
}

.app-menu-icon-4 {
  background: url("../images/icons/left_icon04.png") no-repeat;
}

.app-menu-icon-5 {
  background: url("../images/icons/left_icon05.png") no-repeat;
}

.app-panel-title {
  margin-left: 33px !important;
}

.app-iframe {
  margin-top: 20px;
  border: none;
  width: 100%;
  min-height: 543px;
}

.app-menu-wrapper {
  width: 205px;
  border: 1px solid #d8d8d8;
  height: 100%;
  background: #f9f9f9;
  overflow-y: auto !important;
  overflow-x: hidden !important;
}


.mini-tab {
  height: 35px;
}
.mini-tab-active {
    height: 35px;
    margin-top: 0px;
    border-top: 3px solid #2d78b3;
    background-color: #FFF;
}
.mini-tabs-space2{
	display:none;
	width: 1px;
}
.mini-tab-text {
  font-size: 14pt;
  font-weight: bold;
  color: #0158b5;
  font-family: "microsoft yahei" !important;
}


.mini-tabs-scrollCt{
	position: relative;
	height: 42px;
    bottom: -1px;
    border-bottom: 0px;
    background: url(../image/deal-navbar.png) repeat-x;
}
.mini-grid-row-alt {
    background: #C5E4DF;
}


/*表头样式修改*/
.mini-grid-headerCell-outer{
  font-size: 13px;
  font-weight: bold;
  color:#4D4E54;
  font-family: "microsoft yahei" !important;
  
	
}

.mini-grid-cell-inner, .mini-grid-headerCell-inner {
    font-size: 12pt;
    font-family:"microsoft yahei" !important
}
.mini-button-text{
	font-size: 12pt;
    font-family:"microsoft yahei" !important
}
*{
    font-size: 11pt;
    font-family:"microsoft yahei" !important
}
.mini-pager-num{	
	width: 20px;
}
.mini-panel-title{
  font-size: 14pt;
  font-weight: bold;
  color: #0158b5;
  font-family: "microsoft yahei"  !important;
	
}

table.mini-tabs-header {
	background: url(../image/fr/head2.png) 0px -90px  repeat-x;
    /*background-color: #C6F3C7;*/
}
